<a href="https://colab.research.google.com/github/anushka-code/Clima-Flutter/blob/master/Code_Smell_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Left Branch of the NN-Architecture : CNN for Structural Object Oriented Metrics Feature Extraction

###Mounting Google Drive

In [ ]:
!pip install -U -q PyDrive

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
    
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
import numpy as np
import pandas as pd

Long Parameters Dataset

In [ ]:
link = 'https://drive.google.com/file/d/1EfbAqgr7i9h4yFwEoU3igG34Gt48l6WT/view?usp=sharing'
  
# to get the id part of the file
id = link.split("/")[-2]
  
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('long_parameters_list_structural.csv')  
  
df_lp = pd.read_csv('long_parameters_list_structural.csv')
df_lp.head(5)

   NOP_method  CC_method  ... LOC_project is_long_parameters_list
0           0          0  ...       65687                   False
1           0          0  ...       65687                   False
2           1          0  ...       65687                   False
3           0          5  ...       65687                   False
4           1          0  ...       65687                   False

[5 rows x 57 columns]

Switch Statements Dataset

In [ ]:
link= 'https://drive.google.com/file/d/1Ya1OMWsz1yyXAaZheIck-roX0M9UWiqg/view?usp=sharing'
id = link.split("/")[-2]
  
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('switch_statements_structural.csv')  
  
df_ss = pd.read_csv('switch_statements_structural.csv')
df_ss.head(5)

   NOP_method  CC_method  ... LOC_project is_switch_statements
0           1          2  ...       65687                False
1           0          0  ...       65687                False
2           2          0  ...       65687                False
3           0          0  ...       65687                False
4           0          0  ...       65687                False

[5 rows x 57 columns]

### Data Pre-Processing of the Code Smell Datasets

In [ ]:
import numpy as np
df_lp.rename(columns = {'is_long_parameters_list':'is_code_smell'}, inplace = True)
df_lp["is_code_smell"] = df_lp["is_code_smell"].astype(int)
Y_lp = df_lp.iloc[:,-1:]
X_lp = df_lp.iloc[:,:56]
X_lp = X_lp.replace(to_replace =["?"], value = np.nan)
X_lp = X_lp.astype(float)

In [ ]:
X_lp.head(5)

   NOP_method  CC_method  ...  NOMNAMM_project  LOC_project
0         0.0        0.0  ...           4778.0      65687.0
1         0.0        0.0  ...           4778.0      65687.0
2         1.0        0.0  ...           4778.0      65687.0
3         0.0        5.0  ...           4778.0      65687.0
4         1.0        0.0  ...           4778.0      65687.0

[5 rows x 56 columns]

In [ ]:
Y_lp.head(5)

   is_code_smell
0              0
1              0
2              0
3              0
4              0

In [ ]:
X_lp.shape

(420, 56)

In [ ]:
Y_lp.shape

(420, 1)

In [ ]:
import numpy as np
df_ss.rename(columns = {'is_switch_statements':'is_code_smell'}, inplace = True)
df_ss["is_code_smell"] = df_ss["is_code_smell"].astype(int)
Y_ss = df_ss.iloc[:,-1:]
X_ss = df_ss.iloc[:,:56]
X_ss = X_ss.replace(to_replace =["?"], value = np.nan)
X_ss = X_ss.astype(float)

In [ ]:
X_ss.head(5)

   NOP_method  CC_method  ...  NOMNAMM_project  LOC_project
0         1.0        2.0  ...           4778.0      65687.0
1         0.0        0.0  ...           4778.0      65687.0
2         2.0        0.0  ...           4778.0      65687.0
3         0.0        0.0  ...           4778.0      65687.0
4         0.0        0.0  ...           4778.0      65687.0

[5 rows x 56 columns]

In [ ]:
Y_ss.head(5)

   is_code_smell
0              0
1              0
2              0
3              0
4              0

In [ ]:
X_ss.shape

(420, 56)

In [ ]:
Y_ss.shape

(420, 1)

### Concatenating the Datasets

In [ ]:
import pandas as pd
code_smells = [X_lp, X_ss]
X_train = pd.concat(code_smells)
type(X_train)

pandas.core.frame.DataFrame

In [ ]:
X_train.shape

(840, 56)

In [ ]:
import pandas as pd
labels = [Y_lp, Y_ss]
Y_train = pd.concat(labels)
type(Y_train)

pandas.core.frame.DataFrame

In [ ]:
Y_train.shape

(840, 1)

In [ ]:
Y_train['is_code_smell'].value_counts()

0    573
1    267
Name: is_code_smell, dtype: int64

In [128]:
X_train[2] = X_train[2].fillna(X_train[2].mean())
X_train[3] = X_train[3].fillna(X_train[3].mean())
X_train[11] = X_train[11].fillna(X_train[11].mean())
X_train[12] = X_train[12].fillna(X_train[12].mean())
X_train[15] = X_train[15].fillna(X_train[15].mean())
X_train[24] = X_train[24].fillna(X_train[24].mean())
X_train[29] = X_train[29].fillna(X_train[29].mean())
X_train[30] = X_train[30].fillna(X_train[30].mean())
X_train[41] = X_train[41].fillna(X_train[41].mean())
X_train[38] = X_train[38].fillna(X_train[38].mean())

###Data Normalization

In [130]:
from sklearn.preprocessing import MinMaxScaler
# compute required values
scaler = MinMaxScaler()
model = scaler.fit(X_train)
X_train = model.transform(X_train)
type(X_train)

numpy.ndarray

In [110]:
Y_train = Y_train.to_numpy()

In [111]:
type(Y_train)

numpy.ndarray

In [131]:
np.any(np.isnan(X_train))

False

###Smote's Algorithm

In [132]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, classification_report

In [144]:
from sklearn.model_selection import train_test_split
  
# split into 70:30 ration
X_r, X_e, Y_r, Y_e = train_test_split(X_train, Y_train, test_size = 0.2, random_state = 0)
  
# describes info about train and test set
print("Number transactions X_train dataset: ", X_r.shape)
print("Number transactions y_train dataset: ", Y_r.shape)
print("Number transactions X_test dataset: ", X_e.shape)
print("Number transactions y_test dataset: ", Y_e.shape)

Number transactions X_train dataset:  (672, 56)
Number transactions y_train dataset:  (672, 1)
Number transactions X_test dataset:  (168, 56)
Number transactions y_test dataset:  (168, 1)

In [143]:
lr = LogisticRegression()
  
# train the model on train set
lr.fit(X_r, Y_r.ravel())
  
predictions = lr.predict(X_e)
  
# print classification report
print(classification_report(Y_e, predictions))

              precision    recall  f1-score   support

           0       0.86      0.89      0.88        57
           1       0.76      0.70      0.73        27

    accuracy                           0.83        84
   macro avg       0.81      0.80      0.81        84
weighted avg       0.83      0.83      0.83        84

In [140]:
print("Before OverSampling, counts of label '1': {}".format(sum(Y_r == 1)))
print("Before OverSampling, counts of label '0': {} \n".format(sum(Y_r == 0)))
  
# import SMOTE module from imblearn library
# pip install imblearn (if you don't have imblearn in your system)
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 2)
oversample = SMOTE()
X_train_res, y_train_res = oversample.fit_resample(X_r, Y_r.ravel())
  
print('After OverSampling, the shape of train_X: {}'.format(X_train_res.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_res.shape))
  
print("After OverSampling, counts of label '1': {}".format(sum(y_train_res == 1)))
print("After OverSampling, counts of label '0': {}".format(sum(y_train_res == 0)))

Before OverSampling, counts of label '1': [211]
Before OverSampling, counts of label '0': [461]

After OverSampling, the shape of train_X: (922, 56)
After OverSampling, the shape of train_y: (922,)

After OverSampling, counts of label '1': 461
After OverSampling, counts of label '0': 461

In [141]:
lr1 = LogisticRegression()
lr1.fit(X_train_res, y_train_res.ravel())
predictions = lr1.predict(X_e)
  
# print classification report
print(classification_report(Y_e, predictions))

              precision    recall  f1-score   support

           0       0.95      0.83      0.89       112
           1       0.73      0.91      0.81        56

    accuracy                           0.86       168
   macro avg       0.84      0.87      0.85       168
weighted avg       0.88      0.86      0.86       168

In [150]:
X_train_res.shape

(922, 56)

In [151]:
y_train_res.shape

(922,)

### 1-D CNN Implementation

In [152]:
X_train_final = X_train_res.reshape((922,56,1))

In [153]:
import pandas as pd
import numpy as np
import tensorflow
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Input, Convolution1D, MaxPooling1D, Flatten, Dense, Dropout
from keras.utils import np_utils

In [154]:
model = Sequential()
model.add(Convolution1D(filters=128, kernel_size=3, activation='tanh', input_shape=(56,1)))
model.add(Convolution1D(filters=128, kernel_size=3, activation='tanh'))
model.add(Convolution1D(filters=128, kernel_size=5, activation='tanh'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

#check pretrained models for feature extraction of CNN 2d data 
#which is good for numerical data
#modelfit xd boost (better version)
#imbalanced data - synthetic data addition 
#random forest

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_12 (Conv1D)          (None, 54, 128)           512

 conv1d_13 (Conv1D)          (None, 52, 128)           49280

 conv1d_14 (Conv1D)          (None, 48, 128)           82048

 max_pooling1d_6 (MaxPooling  (None, 24, 128)          0
 1D)

 flatten_4 (Flatten)         (None, 3072)              0

 dense_4 (Dense)             (None, 1)                 3073

=================================================================
Total params: 134,913
Trainable params: 134,913
Non-trainable params: 0
_________________________________________________________________

In [155]:
hist = model.fit(X_train_final,y_train_res,epochs=50,shuffle=True,batch_size=50,validation_split=0.20)

Epoch 1/50
15/15 [==============================] - 4s 135ms/step - loss: 0.6221 - accuracy: 0.6540 - val_loss: 0.8478 - val_accuracy: 0.4108
Epoch 2/50
15/15 [==============================] - 1s 98ms/step - loss: 0.5051 - accuracy: 0.7626 - val_loss: 0.7066 - val_accuracy: 0.5297
Epoch 3/50
15/15 [==============================] - 1s 89ms/step - loss: 0.4636 - accuracy: 0.7666 - val_loss: 0.8896 - val_accuracy: 0.4162
Epoch 4/50
15/15 [==============================] - 1s 65ms/step - loss: 0.4340 - accuracy: 0.7924 - val_loss: 0.4536 - val_accuracy: 0.7027
Epoch 5/50
15/15 [==============================] - 1s 67ms/step - loss: 0.3963 - accuracy: 0.8128 - val_loss: 0.4741 - val_accuracy: 0.7243
Epoch 6/50
15/15 [==============================] - 1s 66ms/step - loss: 0.3707 - accuracy: 0.8331 - val_loss: 0.4169 - val_accuracy: 0.7351
Epoch 7/50
15/15 [==============================] - 1s 66ms/step - loss: 0.3632 - accuracy: 0.8345 - val_loss: 0.3669 - val_accuracy: 0.8108
Epoch 8/50
15/15 [==============================] - 1s 68ms/step - loss: 0.3604 - accuracy: 0.8440 - val_loss: 0.6442 - val_accuracy: 0.6324
Epoch 9/50
15/15 [==============================] - 1s 65ms/step - loss: 0.3477 - accuracy: 0.8467 - val_loss: 0.1789 - val_accuracy: 0.9514
Epoch 10/50
15/15 [==============================] - 1s 66ms/step - loss: 0.3595 - accuracy: 0.8399 - val_loss: 0.3585 - val_accuracy: 0.8000
Epoch 11/50
15/15 [==============================] - 1s 64ms/step - loss: 0.3163 - accuracy: 0.8562 - val_loss: 0.5055 - val_accuracy: 0.7027
Epoch 12/50
15/15 [==============================] - 1s 66ms/step - loss: 0.2861 - accuracy: 0.8738 - val_loss: 0.4228 - val_accuracy: 0.7459
Epoch 13/50
15/15 [==============================] - 1s 65ms/step - loss: 0.2750 - accuracy: 0.8806 - val_loss: 0.4928 - val_accuracy: 0.7081
Epoch 14/50
15/15 [==============================] - 1s 68ms/step - loss: 0.2592 - accuracy: 0.8874 - val_loss: 0.2300 - val_accuracy: 0.9027
Epoch 15/50
15/15 [==============================] - 1s 64ms/step - loss: 0.2550 - accuracy: 0.8887 - val_loss: 0.2653 - val_accuracy: 0.8757
Epoch 16/50
15/15 [==============================] - 1s 63ms/step - loss: 0.2429 - accuracy: 0.8860 - val_loss: 0.1709 - val_accuracy: 0.9514
Epoch 17/50
15/15 [==============================] - 1s 64ms/step - loss: 0.2497 - accuracy: 0.8779 - val_loss: 0.3758 - val_accuracy: 0.7838
Epoch 18/50
15/15 [==============================] - 1s 66ms/step - loss: 0.2347 - accuracy: 0.8874 - val_loss: 0.1674 - val_accuracy: 0.9405
Epoch 19/50
15/15 [==============================] - 1s 65ms/step - loss: 0.2303 - accuracy: 0.8901 - val_loss: 0.1296 - val_accuracy: 0.9838
Epoch 20/50
15/15 [==============================] - 1s 67ms/step - loss: 0.2356 - accuracy: 0.8942 - val_loss: 0.2359 - val_accuracy: 0.8865
Epoch 21/50
15/15 [==============================] - 1s 69ms/step - loss: 0.1995 - accuracy: 0.9132 - val_loss: 0.1967 - val_accuracy: 0.9081
Epoch 22/50
15/15 [==============================] - 1s 67ms/step - loss: 0.2106 - accuracy: 0.9023 - val_loss: 0.2330 - val_accuracy: 0.8865
Epoch 23/50
15/15 [==============================] - 1s 73ms/step - loss: 0.2247 - accuracy: 0.8996 - val_loss: 0.2299 - val_accuracy: 0.8811
Epoch 24/50
15/15 [==============================] - 1s 70ms/step - loss: 0.2348 - accuracy: 0.8969 - val_loss: 0.1283 - val_accuracy: 0.9459
Epoch 25/50
15/15 [==============================] - 1s 67ms/step - loss: 0.1716 - accuracy: 0.9172 - val_loss: 0.2407 - val_accuracy: 0.8649
Epoch 26/50
15/15 [==============================] - 1s 68ms/step - loss: 0.1822 - accuracy: 0.9199 - val_loss: 0.1843 - val_accuracy: 0.9351
Epoch 27/50
15/15 [==============================] - 1s 67ms/step - loss: 0.1802 - accuracy: 0.9294 - val_loss: 0.3082 - val_accuracy: 0.8270
Epoch 28/50
15/15 [==============================] - 1s 66ms/step - loss: 0.1779 - accuracy: 0.9159 - val_loss: 0.2817 - val_accuracy: 0.8378
Epoch 29/50
15/15 [==============================] - 1s 69ms/step - loss: 0.1652 - accuracy: 0.9294 - val_loss: 0.0921 - val_accuracy: 0.9838
Epoch 30/50
15/15 [==============================] - 1s 73ms/step - loss: 0.1840 - accuracy: 0.9091 - val_loss: 0.0930 - val_accuracy: 0.9784
Epoch 31/50
15/15 [==============================] - 1s 67ms/step - loss: 0.1810 - accuracy: 0.9267 - val_loss: 0.3879 - val_accuracy: 0.7892
Epoch 32/50
15/15 [==============================] - 1s 65ms/step - loss: 0.1600 - accuracy: 0.9281 - val_loss: 0.1954 - val_accuracy: 0.9027
Epoch 33/50
15/15 [==============================] - 1s 68ms/step - loss: 0.1423 - accuracy: 0.9444 - val_loss: 0.1874 - val_accuracy: 0.9243
Epoch 34/50
15/15 [==============================] - 1s 64ms/step - loss: 0.1329 - accuracy: 0.9512 - val_loss: 0.1240 - val_accuracy: 0.9622
Epoch 35/50
15/15 [==============================] - 1s 67ms/step - loss: 0.1272 - accuracy: 0.9566 - val_loss: 0.1214 - val_accuracy: 0.9459
Epoch 36/50
15/15 [==============================] - 1s 68ms/step - loss: 0.1256 - accuracy: 0.9471 - val_loss: 0.2153 - val_accuracy: 0.9027
Epoch 37/50
15/15 [==============================] - 1s 67ms/step - loss: 0.1210 - accuracy: 0.9539 - val_loss: 0.1178 - val_accuracy: 0.9676
Epoch 38/50
15/15 [==============================] - 1s 67ms/step - loss: 0.1154 - accuracy: 0.9539 - val_loss: 0.0993 - val_accuracy: 0.9676
Epoch 39/50
15/15 [==============================] - 1s 67ms/step - loss: 0.1276 - accuracy: 0.9539 - val_loss: 0.1157 - val_accuracy: 0.9622
Epoch 40/50
15/15 [==============================] - 1s 67ms/step - loss: 0.1175 - accuracy: 0.9498 - val_loss: 0.1453 - val_accuracy: 0.9405
Epoch 41/50
15/15 [==============================] - 1s 90ms/step - loss: 0.1120 - accuracy: 0.9579 - val_loss: 0.1788 - val_accuracy: 0.9405
Epoch 42/50
15/15 [==============================] - 1s 93ms/step - loss: 0.1017 - accuracy: 0.9647 - val_loss: 0.2558 - val_accuracy: 0.8919
Epoch 43/50
15/15 [==============================] - 1s 66ms/step - loss: 0.1142 - accuracy: 0.9607 - val_loss: 0.1046 - val_accuracy: 0.9622
Epoch 44/50
15/15 [==============================] - 1s 70ms/step - loss: 0.1025 - accuracy: 0.9729 - val_loss: 0.2834 - val_accuracy: 0.8703
Epoch 45/50
15/15 [==============================] - 1s 67ms/step - loss: 0.0967 - accuracy: 0.9674 - val_loss: 0.1228 - val_accuracy: 0.9676
Epoch 46/50
15/15 [==============================] - 1s 65ms/step - loss: 0.0937 - accuracy: 0.9674 - val_loss: 0.1347 - val_accuracy: 0.9514
Epoch 47/50
15/15 [==============================] - 1s 67ms/step - loss: 0.1004 - accuracy: 0.9674 - val_loss: 0.0932 - val_accuracy: 0.9676
Epoch 48/50
15/15 [==============================] - 1s 64ms/step - loss: 0.1046 - accuracy: 0.9552 - val_loss: 0.3563 - val_accuracy: 0.8432
Epoch 49/50
15/15 [==============================] - 1s 65ms/step - loss: 0.0926 - accuracy: 0.9701 - val_loss: 0.1291 - val_accuracy: 0.9622
Epoch 50/50
15/15 [==============================] - 1s 75ms/step - loss: 0.0852 - accuracy: 0.9701 - val_loss: 0.1421 - val_accuracy: 0.9514